<div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Address Information</h4>
	                                <p class="category">Addresses</p>
	                            </div>
	                            <div class="card-content table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Address</th>
	                                    	<th>County</th>
	                                    	<th>State</th>
	                                    	<th>Tax %</th>											
	                                    </thead>
	                                    <tbody>
	                                        <tr *ngFor="let d of addrList">
	                                        	<td><a  (click)="openLedger();">{{d.Address}}</a></td>
	                                        	<td>{{d.county}}</td>
	                                        	<td>{{d.state}}</td>	
	                                        	<td>{{d.tax}}</td>											
	                                        </tr>
	                                                                            
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>	                   
	                </div>
	                <div *ngIf=ledgerFormVisible >
	              		  <display-ledger-modal></display-ledger-modal>
	                </div>
	            