
 	
	    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
			<div class="logo">
				<a href="#" class="simple-text">
					Hyperledger-Fabric POC
				</a>
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	                <li class="active">
	                    <a routerLink="/dashboard" routerLinkActive="active" >
	                        <i class="material-icons">dashboard</i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                
	                <li>
	                   <a routerLink="/customerWallet" routerLinkActive="active">
	                        <i class="material-icons">account_balance_wallet</i>
	                        <p>Customer Wallet</p>
	                    </a>
	                </li>
	                <li>
	                    <a routerLink="/insurence" routerLinkActive="active">
	                        <i class="material-icons">person</i>
	                        <p>T&I</p>
	                    </a>
	                </li>
	               <!--  <li>
	                    <a routerLink="/addAccType" routerLinkActive="active">
	                       <i class="material-icons">note_add</i>
	                        <p>Add Account Type</p>
	                    </a>
	                </li> -->
	                
	                <!-- <li>
	                   <a routerLink="/person" routerLinkActive="active">
	                        <i class="material-icons">person</i>
	                        <p>User Profile</p>
	                    </a>
	                </li>
	                <li>
	                    <a routerLink="/table" routerLinkActive="active">
	                        <i class="material-icons">content_paste</i>
	                        <p>Table List</p>
	                    </a>
	                </li>
	                <li>
	                    <a routerLink="/librarybooks" routerLinkActive="active">
	                        <i class="material-icons">library_books</i>
	                        <p>Typography</p>
	                    </a>
	                </li>
	                <li>
	                    <a routerLink="/bubblechart" routerLinkActive="active">
	                        <i class="material-icons">bubble_chart</i>
	                        <p>Icons</p>
	                    </a>
	                </li> -->
	                
	                <li>
	                    <a routerLink="/notifications" routerLinkActive="active">
	                        <i class="material-icons text-gray">notifications</i>
	                        <p>Notifications</p>
	                    </a>
	                </li>	                
	               				
	            </ul>
	    	</div>
	    </div>

